<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411240607100-vfglfoanjt44q3og1v33ounfep9iil3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411240607100-vfglfoanjt44q3og1v33ounfep9iil3k</string>
	<key>API_KEY</key>
	<string>AIzaSyDanwixw5O6wuBfZwbxWIeYLkdnbDfKo7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>411240607100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clown.waterTime</string>
	<key>PROJECT_ID</key>
	<string>watertime-8b85e</string>
	<key>STORAGE_BUCKET</key>
	<string>watertime-8b85e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411240607100:ios:dbc3284fbc86fa1fd488f9</string>
</dict>
</plist>